footer p{
    text-align: center;
    color: var(--color-light);
    padding: var(--pading-primary);
    font-weight: var(--font-wight-normal);
}

footer p a{
    color: var(--color-light);
    transition: all .3s;
}

footer p a:hover{
    color: var(--color-primary);
}