.most-popular-item{
    flex: 1 22%;
}
.card-wrapper{
     background-color: var(--color-dark);
     border-radius: var(--border-reduce-primary);
     padding: var(--pading-primary);
     margin: calc(var(--distance-primary)/5);
}
.most-popular-item-image{
    width: 100%;
    border-radius: var(--border-reduce-primary);
    margin-bottom: var(--margin-primary);
}
.most-popular-item-contact{
    display: flex;
    justify-content: space-between;
}
.most-popular-item-title{
    font-size: 12px;
    line-height: 1.5rem;
}
.ul-m-p{
    font-size: 12px;
}
.fastar{
    color: var(--color-yellow);
}
.fadownload
{
    color: var(--color-primary);
}