.hero-main{ 
    background: url('../../Component/assets/image/banner-bg.jpg')no-repeat top right/cover;
    background-color: var(--color-dark);
    color: var(--color-light);
    border-radius:var(--border-reduce-primary);
    padding: var(--pading-primary);
}

.hero-text{
    max-width: 500px;
}
.hero-title{
    font-size: 60px;
    text-transform: uppercase ;
    margin-bottom: var(--margin-primary);
    font-weight: var(--font-wight-bold);
}
.hero-title em{
    font-style: normal;
    color: var(--color-primary);
   
}
.hero-subtitle{
    font-size: 20px;
    color: var(--color-light);
    font-weight: var(--font-wight-normal);
    margin-bottom: var(--margin-primary);

}
