/*body{
   background-color: steelblue; 
}*/
:root
{
 --color-dark:#27292a;
 --color-light:white;
 --color-yellow: yellow;
 --color-primary:#ec6090;
 --color-darkes:#1f2122;
 --distance-primary: 50px;
 --pading-primary:var(--distance-primary);
 --margin-primary:calc(var(--distance-primary) /2 );
 --border-reduce-primary: calc(var(--distance-primary)/2);
 --font-family-primary:"Poppins", sans-serif;
 --font-wight-bold:700;
 --font-wight-normal:300;

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
body{
   background-color: var(--color-darkes);
   font-family: var(--font-family-primary);
}
ul{
   list-style-type: none;
}
a{
   text-decoration: none;
}